body {
    background: #008d3b;
    font-family: Arial, Helvetica, sans-serif;
}

.color {
    margin-top: 200px;
    display: flex;
    color: white;
    justify-content: center;
}
.text-block {
    display: flex;
    justify-content: center;
}
.button {
    color: #008d3b;
    font-size: 17px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    background: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
